@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;

}

body {
    background-color: #024959;
    color: #F2E3D5;

}



@media screen and (max-width: 480px) {
    h1 {
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }

    img {
        margin-top: 50px;
        margin-bottom: 30px;
        left: 30px;
        position: relative;
        width: 300px;
        height: 250px;
        border: 2px solid black;
    }

    h2 {
        font-size: 20px;
        text-align: center;

    }

    p {
        font-size: 20px;
        text-align: center;
    }

    a {
        display: flex;
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        color: #F2E3D5;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}